In [1]:
# boston house prediction
from sklearn.datasets import load_boston

In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
from matplotlib import pyplot as pt

In [3]:
df = load_boston()

C:\Users\navan\py\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [4]:
fd = pd.DataFrame(df.data)
fd.columns = df.feature_names
fd

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [5]:
fd['Price'] = df.target

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [18]:
X = fd.iloc[:,:13]
y = fd.iloc[:,13:]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [21]:
X_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
183,0.10008,0.0,2.46,0.0,0.488,6.563,95.6,2.8470,3.0,193.0,17.8,396.90,5.68
154,1.41385,0.0,19.58,1.0,0.871,6.129,96.0,1.7494,5.0,403.0,14.7,321.02,15.12
264,0.55007,20.0,3.97,0.0,0.647,7.206,91.6,1.9301,5.0,264.0,13.0,387.89,8.10
142,3.32105,0.0,19.58,1.0,0.871,5.403,100.0,1.3216,5.0,403.0,14.7,396.90,26.82
360,4.54192,0.0,18.10,0.0,0.770,6.398,88.0,2.5182,24.0,666.0,20.2,374.56,7.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,0.52014,20.0,3.97,0.0,0.647,8.398,91.5,2.2885,5.0,264.0,13.0,386.86,5.91
29,1.00245,0.0,8.14,0.0,0.538,6.674,87.3,4.2390,4.0,307.0,21.0,380.23,11.98
163,1.51902,0.0,19.58,1.0,0.605,8.375,93.9,2.1620,5.0,403.0,14.7,388.45,3.32
259,0.65665,20.0,3.97,0.0,0.647,6.842,100.0,2.0107,5.0,264.0,13.0,391.93,6.90
323,0.28392,0.0,7.38,0.0,0.493,5.708,74.3,4.7211,5.0,287.0,19.6,391.13,11.74

In [22]:
y_train

     Price
183   32.5
154   17.0
264   36.5
142   13.4
360   25.0
..     ...
262   48.8
29    21.0
163   50.0
259   30.1
323   18.5

[354 rows x 1 columns]

In [23]:
X_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
41,0.12744,0.0,6.91,0.0,0.448,6.770,2.9,5.7209,3.0,233.0,17.9,385.41,4.84
341,0.01301,35.0,1.52,0.0,0.442,7.241,49.3,7.0379,1.0,284.0,15.5,394.74,5.49
427,37.66190,0.0,18.10,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52
361,3.83684,0.0,18.10,0.0,0.770,6.251,91.1,2.2955,24.0,666.0,20.2,350.65,14.19
443,9.96654,0.0,18.10,0.0,0.740,6.485,100.0,1.9784,24.0,666.0,20.2,386.73,18.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,0.11425,0.0,13.89,1.0,0.550,6.373,92.4,3.3633,5.0,276.0,16.4,393.74,10.50
411,14.05070,0.0,18.10,0.0,0.597,6.657,100.0,1.5275,24.0,666.0,20.2,35.05,21.22
493,0.17331,0.0,9.69,0.0,0.585,5.707,54.0,2.3817,6.0,391.0,19.2,396.90,12.01
495,0.17899,0.0,9.69,0.0,0.585,5.670,28.8,2.7986,6.0,391.0,19.2,393.29,17.60
287,0.03871,52.5,5.32,0.0,0.405,6.209,31.3,7.3172,6.0,293.0,16.6,396.90,7.14

In [24]:
y_test

     Price
41    26.6
341   32.7
427   10.9
361   19.9
443   15.4
..     ...
219   23.0
411   17.2
493   21.8
495   23.1
287   23.2

[152 rows x 1 columns]

In [25]:
scalar = StandardScaler()

In [30]:
X_train_scaled = scalar.fit_transform(X_train)

In [31]:
X_test_transformed = scalar.transform(X_test)

In [32]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()

In [33]:
regression.fit(X_train_scaled,y_train)

LinearRegression()

In [34]:
regression.predict(X_test_transformed)

array([[27.47945462],
       [29.25930273],
       [12.76477115],
       [19.13548524],
       [18.23799861],
       [23.38164568],
       [28.8493643 ],
       [27.18082937],
       [26.73280655],
       [34.91694545],
       [13.37737595],
       [13.11758818],
       [24.68751181],
       [28.61607051],
       [22.10516037],
       [16.42230741],
       [-4.91733805],
       [22.68695292],
       [18.60804542],
       [18.1122635 ],
       [26.68683993],
       [18.92317343],
       [20.63449698],
       [25.36749774],
       [28.74604498],
       [18.69188325],
       [18.75074863],
       [23.91824909],
       [22.84508742],
       [13.26091437],
       [18.74574152],
       [11.65455289],
       [ 6.34475027],
       [18.91036417],
       [15.68742634],
       [27.00109782],
       [ 4.97004221],
       [ 6.76470119],
       [16.93753705],
       [23.18625263],
       [ 9.23715815],
       [19.89331877],
       [19.00380808],
       [34.23365565],
       [27.19070327],
       [40.57973187],
       [18.42659342],
       [ 3.9453653 ],
       [ 3.24836899],
       [18.95100514],
       [34.33536156],
       [16.49899619],
       [16.89957517],
       [29.03276993],
       [27.4941291 ],
       [23.9246077 ],
       [23.69916789],
       [23.19164538],
       [24.52020598],
       [15.82942672],
       [12.61733048],
       [29.36592045],
       [21.02788161],
       [20.32725416],
       [12.62023532],
       [27.17995911],
       [14.15039656],
       [11.20955666],
       [23.16920263],
       [11.79187401],
       [28.96354505],
       [30.14889313],
       [19.17287985],
       [33.41310178],
       [39.26621482],
       [32.21905451],
       [13.91760324],
       [24.46058691],
       [10.70827437],
       [15.48094403],
       [22.58558314],
       [14.36062585],
       [20.07487125],
       [34.22217518],
       [14.43173457],
       [13.30856652],
       [11.13756886],
       [15.13326856],
       [36.33255134],
       [36.59627828],
       [22.94076332],
       [20.53135336],
       [22.25896185],
       [20.90248057],
       [31.09431105],
       [22.01319144],
       [23.56651084],
       [ 8.4781138 ],
       [17.63211154],
       [15.01166334],
       [15.6658346 ],
       [12.61118437],
       [23.68517797],
       [39.04080022],
       [23.49043822],
       [24.59656362],
       [34.09149517],
       [24.97862562],
       [19.95038896],
       [19.95491539],
       [32.77126203],
       [22.51367869],
       [13.46006612],
       [32.7296583 ],
       [16.4476974 ],
       [32.71332499],
       [25.78876723],
       [24.54441627],
       [20.13462506],
       [37.11269721],
       [16.10365009],
       [25.79035638],
       [ 8.4331867 ],
       [23.46466061],
       [15.84734631],
       [27.92455192],
       [33.56615179],
       [22.3323253 ],
       [18.06447526],
       [28.97599191],
       [15.444703  ],
       [31.66512537],
       [20.63714707],
       [17.1917335 ],
       [19.54500188],
       [12.68592341],
       [14.90436832],
       [44.33671652],
       [31.18275048],
       [19.45041961],
       [20.87873996],
       [ 3.51155996],
       [24.61167458],
       [29.7347432 ],
       [39.68035588],
       [20.61074894],
       [18.74888802],
       [29.51188527],
       [16.92182895],
       [20.61305656],
       [16.99761524],
       [26.90853522]])

In [35]:
X_test

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
41,0.12744,0.0,6.91,0.0,0.448,6.770,2.9,5.7209,3.0,233.0,17.9,385.41,4.84
341,0.01301,35.0,1.52,0.0,0.442,7.241,49.3,7.0379,1.0,284.0,15.5,394.74,5.49
427,37.66190,0.0,18.10,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52
361,3.83684,0.0,18.10,0.0,0.770,6.251,91.1,2.2955,24.0,666.0,20.2,350.65,14.19
443,9.96654,0.0,18.10,0.0,0.740,6.485,100.0,1.9784,24.0,666.0,20.2,386.73,18.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,0.11425,0.0,13.89,1.0,0.550,6.373,92.4,3.3633,5.0,276.0,16.4,393.74,10.50
411,14.05070,0.0,18.10,0.0,0.597,6.657,100.0,1.5275,24.0,666.0,20.2,35.05,21.22
493,0.17331,0.0,9.69,0.0,0.585,5.707,54.0,2.3817,6.0,391.0,19.2,396.90,12.01
495,0.17899,0.0,9.69,0.0,0.585,5.670,28.8,2.7986,6.0,391.0,19.2,393.29,17.60
287,0.03871,52.5,5.32,0.0,0.405,6.209,31.3,7.3172,6.0,293.0,16.6,396.90,7.14

In [36]:
y_test

     Price
41    26.6
341   32.7
427   10.9
361   19.9
443   15.4
..     ...
219   23.0
411   17.2
493   21.8
495   23.1
287   23.2

[152 rows x 1 columns]